<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ListeningPort" value="32100" />
    <add key="ReceiveInterval" value="10" />
    <add key="FixedDeltaTime" value="0,2" />
    <add key="RoomWidth" value="20" />
    <add key="RoomHeight" value="10" />
    <add key="SmallZombieSpeed" value="0,7" />
    <add key="BigZombieSpeed" value="0,6" />
    <add key="LampSpeed" value="0" />
    <add key="SmallZombieRadius" value="0,3" />
    <add key="BigZombieRadius" value="0,4" />
    <add key="LampRadius" value="0,5" />
    <add key="CylinderObtacleRadius" value="0,5"/>
    <add key="FireProjectileRadius" value="2"/>
    <add key="FireProjectileSpeed" value="0"/>
    <add key="SmallZombieHealth" value="10" />
    <add key="BigZombieHealth" value="15" />
    <add key="FireProjectileHealth" value="15"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>